@use "../sass/typo";

body {
    background-image: url(../img/fond.webp);

    @media (max-width: 412px) {
        background-color: red;
    }
}

span:has(+nav) {
    display: flex;
    justify-content: end;
    background-color: #010125;
    color: white;
    padding: 0.2rem 0.5rem;
    margin-left: 85%;

    @media (max-width: 412px) {
        margin-left: 70%;
    }

}

nav {
    display: flex;
    gap: 2rem;
    font-family: "AlfaSlobOne";

    .logo img {
        width: 10rem;

        @media (max-width: 412px) {
            width: 90%;
        }

    }

    .titles {
        @media (max-width: 412px) {}

        h1 {
            @media (max-width: 412px) {
                font-size: 0.8rem;
                width: 18rem;
            }

        }

        h2 {
            background-color: #000000;
            color: white;
            border-radius: 6px;
            padding: 0.5rem 0.3rem;

            @media (max-width: 412px) {
                font-size: 0.98rem;
            }

        }

        h3 {
            @media (max-width: 412px) {
                font-size: 0.8rem;
            }
        }

    }

}




// Haut de page

// Milieu de page

section {

    .container {
        display: flex;
        justify-content: center;
        gap: 8rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
        text-align: center;

        .container__card {
            border: 2px solid black;
            background: #E5DBDA;
            background: linear-gradient(175deg, rgba(229, 219, 218, 1) 0%, rgba(186, 176, 177, 1) 76%);
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            width: 20rem;
            box-shadow: 0px 0px 1px 0.5px black;


            .container__card--cadre {

                .text-cadre {
                    background-color: #E24E42;
                    padding: 0.3rem 0.3rem;
                    width: 60%;
                    margin-left: 3.8rem;
                    position: relative;
                    bottom: 0.5rem;
                    color: white;
                    font-weight: bolder;

                }

            }

            .corp {
                padding-bottom: 1rem;
                padding-top: 1rem;
                font-weight: bolder;
            }

            button {
                margin-left: 12.5rem;
                background-color: #591B04;
                color: white;
                padding: 0.2rem 0.4rem;
                width: 34%;
                height: 4%;
                text-align: left;
                position: relative;
                bottom: 0.4rem;

                @media (max-width: 412px) {
                    height: 1.8rem;
                }

                .triangle {
                    width: 0;
                    border: 0.9rem solid transparent;
                    border-top-color: white;
                    border-bottom-width: 0;
                    position: relative;
                    left: 4rem;
                    bottom: 0.8rem;
                }
            }

            @media (max-width: 412px) {
                margin: 1.5rem;
            }
        }

        @media (max-width: 800px) {
            display: flex;
            flex-flow: column;
        }
    }
}

article h3 {
    border: 2px solid black;
    position: relative;
    padding: 1rem 1rem;
    margin: 0.5rem auto;
    color: white;
    background-color: #010125;
    font-size: 2rem;
}


// Milieu de page

// Bas de page

footer {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #010125;
    color: white;
    font-weight: bolder;
}